<% @cats.each do |cat| %> 
  <ul>
      <li> Name: <%= cat.name %> </li>
      <li> DOB: <%= cat.birth_date %> </li>
      <li> Color: <%= cat.color %> </li>
      <li> Sex: <%= cat.sex %> </li>
      
      <a href="<%= cat_url(cat) %>"> Show me the kitty! </a>
  </ul>
<% end %>
